
*{
  background-color:  rgb(170, 250, 227);
}

.page {
  margin-top: 50px;
  margin-left: 100px;
  font-family: 'Quicksand', sans-serif;
}

.search-bar{
  width: 400px;
  background-color: white;
}

select {
  margin: 0px 10px;
  background-color: white;
}

.column-title {
  font-weight: bold;
}

.gridRow {
  display: grid;
  /* gap: 5px; */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 50px 20px;

}

.innerRow {
  background-color: white;
}

a {
  background-color: white;
}

.plantInfoList{
  margin-left: 10px;

}
